.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  background: var(--color-bg-dark);
  border-bottom: 1px solid var(--color-grey);
}

.filters {
  display: flex;
}

.filter {
  font-size: 1.4rem;
  margin: 0.3rem;
  text-transform: capitalize;
  background-color: transparent;
  color: var(--color-accent);
  opacity: 0.8;
  font-weight: bold;
}

.filter.selected,
.filter:hover {
  opacity: 1;
}

.filter.selected::after {
  content: '';
  display: block;
  margin-top: 0.2rem;
  border: 1px solid var(--color-text);
}

.toggle {
  background-color: transparent;
  color: var(--color-text);
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 250ms ease-out;
}

.toggle:hover {
  transform: scale(1.2);
  color: var(--color-accent);
}
